nav {
    background-color: rgb(155, 185, 176);
    text-align: center;
}

a {
    text-decoration-line: none;
}

nav ul { 
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 10px;
}

h1 {
    text-align: center;
    color: rgb(72, 104, 90);
}

.center-image {
margin: 0 auto;
display: block;
}

.opening {
    color: rgb(97, 151, 105);
}

#categories {
    color: rgb(14, 90, 64);
}

.container {
    border: 2px solid rgb(128, 128, 128);
    margin: 50px 20px;
    padding: 20px;
    border-radius: 5%;
}

.box {
    height: 50px;
    width: 200px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    background: rgb(191, 214, 191);
    box-shadow: 8px 8px 5px rgb(45, 74, 68);
}

@keyframes fade {
    0% {opacity: 0;
    }
    100% {opacity: 1;
    }
}
#box1 {
    animation-name: fade;
    animation-duration: 1s;
    animation-iteration-count: initial;
    animation-timing-function: linear;
}


@keyframes rotation {
    0% {transform: rotate(0deg) scale(0%);
    }
    50% {transform: rotate(180deg) scale(50%);
    }
    100% {transform: rotate(360deg) scale(100%);
    }
}
#box2 {
    animation-name: rotation;
    animation-duration: 4s;
    animation-iteration-count: 4;
    animation-timing-function: ease-in-out;
    border-radius: 10%;
    background-image: radial-gradient(circle, rgb(123, 128, 123), rgb(124, 144, 124), rgb(78, 145, 78));
}

@keyframes get-perspective {
    0% { transform: perspective(200px) rotateY(0deg);}
    50% { transform: perspective(200px) rotateY(180deg);}
    100% { transform: perspective(200px) rotateY(360deg);}
}

#box3 {
    animation: get-perspective 4s linear 0s infinite normal none;
}



.flex {
    border: 3px solid grey;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 50px;
    padding: 20px 150px;
    justify-content: center;

}

.circle-img {
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    width: 50%;
   
}

.contact-box {
    display:flex;
    justify-content: center;
}

.row {
    margin: 50px;
}

.input-field {
    margin: 20px
}


form input, textarea, button {
    display:block;
    margin: 30px;
}


.page-margins {
    margin:50px
}
 
  .wrapper {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(5, [col] 20% ) ;
      grid-template-rows: repeat(3, [row] auto  );
      background-color: #fff;
      color: #444;
    }
  
    .Box {
      background-color: #fff;
      color: #fff;
      border-radius: 5px;
      padding: 20px;
      font-size: 150%;
      z-index:10;
  
    }
  
    .a {
      grid-column: col / span  2;
      grid-row: row ;
      display: flex;
      justify-content: center;
    }
    .b {
      grid-column: col 3 / span  3 ;
      grid-row: row ;
      display: flex;
      justify-content: center;
    }
    .c {
      grid-column: col ;
      grid-row: row 2 ;
      display: flex;
      justify-content: center;
    }
    .d {
      grid-column: col 2 / span  3 ;
      grid-row: row 2 ;
      display: flex;
      justify-content: center;
      background-image: linear-gradient(black, grey, green, yellow);
    }
  
    .e {
      grid-column: col / span  5;
      grid-row: row 3;
      display: flex;
      justify-content: center;
    }
  
    .f {
      grid-column: col 3 / span 3;
      grid-row: row 2  ;
      background-color: rgba(49,121,207, 0.5);
      z-index: 20;
      display: flex;
      justify-content: center;
      background-image: linear-gradient(yellow, green, grey, black);
    }